@media (max-width: 585px){
.Product__Page-Size-Btn {
    width: 127px;
    height: 47px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    color: #000000;
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* margin-right: 220px; */
    margin-top: 10px;
    }}